<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Tìm kiếm bạn</h1>
        <p class="lead">Hãy đến và tìm kiếm nữa kia của bạn....đăng ký ngay!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Đăng ký</button>
            <button class="btn btn-primary btn-lg">Khám phá</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
